<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- title %>
    <link rel="stylesheet" href=<%- assets.app.css %>>
  </head>
  <body>
    <div id="react-app"><%- app %></div>
    <script src=<%- assets.vendor.js %> async></script>
    <script src=<%- assets.app.js %>></script>
  </body>
</html>
